<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/nav :: nav">.........</nav>
	<div th:include="fragments/sideMenu :: sideMenu"></div>
	<div
		th:replace="fragments/deleteConfirmationModal :: deleteConfirmationModal"></div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="fragments/page-header">Toys</h1>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<table class="table table-striped data-tables">
			<thead>
				<tr>
					<th>UserName</th>
					<th>Role</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.username}"></td>
					<td th:text="${user.role}"></td>
					<td><a class="btn btn-default"
						th:href="'/users/changePermission/'+${user.id}"> Change role </a></td>
					<td><a class="btn btn-default" href="#modal_delete"
						data-toggle="modal" th:attr="data-id='/users/delete/'+${user.id}"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="fragments/footer :: scripts"></div>
	<div
		th:replace="fragments/deleteConfirmationModal :: deleteConfirmationScripts"></div>
</body>
</html>