<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/newLocationModal :: newLocationModal">.........</div>
	<nav th:replace="fragments/nav :: nav">.........</nav>
	<div th:include="fragments/sideMenu :: sideMenu"></div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="fragments/page-header">Product Detail</h1>
		<h3 th:if="${toy.stock} == ${cero}" class="bg-danger">OUT OF
			STOCK</h3>
		<div class="form-group">
			<label>Name</label>
			<p th:text="*{toy.name}"></p>
			<label>Description</label>
			<p th:text="*{toy.description}"></p>
			<label>Price</label>
			<p th:text="*{toy.price}"></p>
			<img th:src="*{toy.imageEncoded}" class="img-responsive" width="300"
				height="300" />
		</div>
		<div sec:authorize="isAuthenticated()">
			<a th:href="'/buy/confirm/'+${toy.id}" th:if="${toy.stock} !=${cero}"
				class="btn btn-info btn-block">Buy</a>
		</div>
	</div>
	<div th:replace="fragments/footer :: scripts">.........</div>
	<div th:replace="fragments/newLocationModal :: newLocationScripts">.........</div>
</body>
</html>